<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Projects Page</title>
    </head>
    <body>
        {{> header}}
        <p>Some text here chicken tho project hi</p>
    </body>
{{> footer}}
</html>